<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
     <circle-progress
        [percent]="85"
        [title]="'HTML'"
        [showUnits]="false"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="75"
        [titleColor]="'blue'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        >
     </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
           [percent]="85"
           [title]="'CSS'"
           [showUnits]="false"
           [imageSrc]="'../assets/CSS.png'"
           [showImage]="true"
           [imageHeight]="75"
           [imageWidth]="75"
           [titleColor]="'blue'"
           [titleFontSize]="'3em'"
           [showSubtitle]="false"
           [radius]="100"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="8"
           [outerStrokeColor]="'#78C000'"
           [innerStrokeColor]="'#C7E596'"
           [animation]="true"
           [animationDuration]="300"
           >
        </circle-progress>
       </div>
       <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
           [percent]="85"
           [title]="'GIT'"
           [showUnits]="false"
           [imageSrc]="'../assets/git.png'"
           [showImage]="true"
           [imageHeight]="75"
           [imageWidth]="75"
           [titleColor]="'blue'"
           [titleFontSize]="'3em'"
           [showSubtitle]="false"
           [radius]="100"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="8"
           [outerStrokeColor]="'#78C000'"
           [innerStrokeColor]="'#C7E596'"
           [animation]="true"
           [animationDuration]="300"
           >
        </circle-progress>
       </div>
       <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
           [percent]="85"
           [title]="'Javascript'"
           [showUnits]="false"
           [imageSrc]="'../assets/js.png'"
           [showImage]="true"
           [imageHeight]="75"
           [imageWidth]="75"
           [titleColor]="'blue'"
           [titleFontSize]="'3em'"
           [showSubtitle]="false"
           [radius]="100"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="8"
           [outerStrokeColor]="'#78C000'"
           [innerStrokeColor]="'#C7E596'"
           [animation]="true"
           [animationDuration]="300"
           >
        </circle-progress>
       </div>
       <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
           [percent]="85"
           [title]="'Idioma'"
           [showUnits]="false"
           [imageSrc]="'../assets/eng.png'"
           [showImage]="true"
           [imageHeight]="75"
           [imageWidth]="75"
           [titleColor]="'blue'"
           [titleFontSize]="'3em'"
           [showSubtitle]="false"
           [radius]="100"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="8"
           [outerStrokeColor]="'#78C000'"
           [innerStrokeColor]="'#C7E596'"
           [animation]="true"
           [animationDuration]="300"
           >
        </circle-progress>
       </div>
       <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
           [percent]="85"
           [title]="'Comunicacion'"
           [showUnits]="false"
           [imageSrc]="'../assets/grupal.png'"
           [showImage]="true"
           [imageHeight]="75"
           [imageWidth]="75"
           [titleColor]="'blue'"
           [titleFontSize]="'3em'"
           [showSubtitle]="false"
           [radius]="100"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="8"
           [outerStrokeColor]="'#78C000'"
           [innerStrokeColor]="'#C7E596'"
           [animation]="true"
           [animationDuration]="300"
           >
        </circle-progress>
       </div>
    
</div>